@import 'tailwindcss';

:root {
  --bg: #09090B;
  --surface: #111114;
  --card: #18181C;

  --primary: #864DBC;
  --primary-hover: #9B63D1;
  --primary-active: #6F3EA2;

  --accent: #00D9FF;

  --text: #F5F5F7;
  --text-secondary: #B8B8C2;
  --text-muted: #7A7A85;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  --primary-font: 'Clash Display', sans-serif;
  --secondary-font: 'Satoshi', sans-serif;

  font: 18px/145% var(--primary-font);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #09090B;
    --surface: #111114;
    --card: #18181C;

    --primary: #864DBC;
    --primary-hover: #9B63D1;
    --primary-active: #6F3EA2;

    --accent: #00D9FF;

    --text: #F5F5F7;
    --text-secondary: #B8B8C2;
    --text-muted: #7A7A85;

    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;

    --primary-font: 'Clash Display', sans-serif;
    --secondary-font: 'Satoshi', sans-serif;
  }
}

*, *::before, *::after { box-sizing: border-box; }
html { font-size: 16px; scroll-behavior: smooth; scrollbar-width: none; }
body {
  min-height: 100vh;
  /* max-width: 1920px; */
  margin: auto 0;
  background-color: var(--black);
}

input, button, textarea, select { font: inherit; }
p { text-wrap: pretty; overflow-wrap: break-word; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; overflow-wrap: break-word; }
img, video, svg { max-width: 100%; height: auto; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }
*::selection {
      background-color: var(--primary);
      color: var(--text);
  }

/* @media (prefers-color-scheme: light) {
  :root {
    --white: #2C2C2C;
    --dark: #F5F1EA;
  }
} */

@media (prefers-reduced-motion: reduce) {
  * { 
    animation-duration: 0.01ms !important; 
    animation-iteration-count: 1 !important; 
    transition-duration: 0.01ms !important; 
    scroll-behavior: auto !important;
    transition: none; 
  }
}


@theme{
  /*Colors*/
  --color-bg: var(--bg);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /*Fonts*/
  --font-primary: var(--primary-font);
  --font-secondary: var(--secondary-font);
}
